nav {
	width: 940px - 400px;
	height: 190px;
    float: left;
    text-align: right;
	ul {
		list-style-type: none;
		margin-top: 95px;
		li {
			display: inline;
			font-size: 0.8em;
			margin-right: 10px;

			@include largeScreenMediaQuery {
				font-size:1em;
				margin:0 10px;
			}

			@include mediumScreenMediaQuery {
				font-size:0.8em;
				margin:0 5px;
			}

			a {
				color: $red;
				text-decoration: none;
				letter-spacing: -0.01em;
				&:hover {
					color: $white;
				}
			}
		}

		@include largeScreenMediaQuery {
			margin-top:0;
		}
	}

	@include largeScreenMediaQuery {
		width:inherit;
		height:50px;
		float:none;
		text-align:center;
	}

	@include smallScreenMediaQuery {
		margin-bottom:40px !important;
	}
}


footer {
	width: 100%;
	height: 120px;
	background: $footerBg;
	text-align: center;
	color: $white;
	padding-top: 50px;

	@include smallScreenMediaQuery {
		text-align:center;
	}
}
.social-media {
	margin: 0 auto;
	width: 165px;
	div {
		float: left;
		margin-right: 5px;
		&.one {
            @include backImage($socialMediaImg, 0);
		}
		&.two {
            @include backImage($socialMediaImg, -38px);
		}
		&.three {
            @include backImage($socialMediaImg, -76px);
		}
		&.four {
            @include backImage($socialMediaImg, -114px);
		}
	}
	a {
		display: block;
		width: 36px;
		height: 36px;
		text-indent: -9999px;
	}
}