@import url('https://fonts.googleapis.com/css?family=Roboto:400,900,100&display=swap');

$white:          #FFF;
$red:            #E65C43;
$gray:           #666;
$graybarBg:      #F5F6F6;
$headlineBg:     #F25C43;
$footerBg:       #30353D;
$bodyBgImg:      '../images/bg.gif';
$logoImg:        '../images/logo.png';
$socialMediaImg: '../images/social-media.png';
$body-font:      'Roboto';